<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/User/IdeaProjects/SeleniumPractise/src/test/java/org/selenium/practise/Sample2.java">
        <classes>
            <class name="org.selenium.practise.Sample2">
                <methods>
                    <include name="brunnerTest1"/>
                    <include name="crunnerTest2"/>
                    <include name="arunnerTest3"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>